body{
    height: 100vh;
    width: 100%;
    background-image: url(./bg-05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-container{
    display: flex;
    justify-content:center ;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;

}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    font-weight: 700;
    margin-top: 30px;
    background-image: none;
    text-align: center;
    background-color: white;
    opacity: .3;
}

.navlink {
    text-decoration: none;
    color: black;
    background-image: none;
}

.box :hover {
    color: blue;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
h1{
    font-weight: 800;
    color: white;
}

p{
    color: white;
    font-weight: 600px;
    font-size: 17px;
    margin: 0;
    padding: 5px;
}



.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottom{
    width: 100%;
    height: 50px;
    background-color: none;
    border: none;
    top: auto;
    bottom: 15px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

.icons{
    width: 300px;
    height: 50px;
    background-color: none;
    border: none;
    display: flex;
    justify-content: space-around;
    top: auto;
    bottom: 15px;
}

.icon{
    width: 40px;
    height: 45px;
    border: none ;
    background-color: white;
    opacity: .4;
}

.copy{
    width: 400px;
    height: 50px;
    background-color: none;
    border: none;
    bottom: 15px;
}

img{
    max-width: 100%;
    max-height: 100%;
}



